.rec{
	height: 600px;
	width: 200px;
	background-color: black;
	padding-top: 10px;
}

.red {
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	cursor: pointer;
	margin-top: 10px;
}

.red:active {
	background-color: red;
	transition: background-color 0s ease 0s;
}

.yellow{
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
}

.green{
	margin: 0 auto;
	background-color: gray;
	border-radius: 50%;
	width: 180px;
	height: 180px;
}