p {
	font-family: helvetica, sans-serif;
	
}

a:link {
	text-decoration: none;
	color: pink;
}

a:visited {
	text-decoration: none;
	color: white;
	}

nav {
	text-align: center;
}

body {
	background-color: #8B93A7;
	font-family: helvetica, sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
}

p.photo{
	text-align: center;
}

#photo img{
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px; 
}
